<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Somewhere...</title>
  <subtitle>When in [anywhere] do like the humans do</subtitle>
  <link href="feed.xml" rel="self" />
  <link href="https://smwhr.net" />
  <id>https://smwhr.net/</id>
  <author>
    <name>Ju(...) / smwhr</name>
    <email>ju@smwhr.net</email>
  </author>
  {% assign posts = collections.posts | reverse %}
  {%- for post in posts limit:10 %}
  <entry>
    <title><![CDATA[{{ post.data.title | 'xml_escape' }}]]></title>
    <link href="https://smwhr.net/{{ post.url }}"/>
    <updated>{{ post.date | 'date_to_rfc822' }}</updated>
    <id>https://smwhr.net/{{ post.url }}</id>
    <content type="html"><![CDATA[{{ post.templateContent }}]]></content>
  </entry>
  {%- endfor %}
</feed>